%a{href: cart_products_path}
  В вашей корзине
  %br
  %span.bolder
    %number#cart-products-count
      товаров:
      = session[:cart_products_count] || 0

      -#= Russian.p session[:cart_products_count].to_i, 'товар', 'товара', 'товаров'
      -#= Russian.p 5, 'товар', 'товара', 'товаров'
    на сумму
    %number#cart-products-sum
      = session[:cart_products_sum] || 0
    ₽