%a{href: cart_products_path}
  В вашей корзине
  %br
  %span.bolder
    %number#cart-products-count
      = session[:cart_products_count]
    товаров на сумму
    %number#cart-products-sum
      = session[:cart_products_sum]
    ₽