@import "settings"

@font-face
  font-family: 'HelveticaNeue-Light'
  src: url('/assets/HelveticaNeueCyr-Light.otf') format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'HelveticaNeue-Regular'
  src: url('/assets/HelveticaNeueCyr-Light.otf') format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'HelveticaNeue-Medium'
  src: url('/assets/HelveticaNeueCyr-Medium.otf') format("opentype")
  font-weight: normal
  font-style: normal

body
  padding: 0px
  margin: 0px
  font-family: 'HelveticaNeue-Roman', 'Helvetica', 'Arial', sans-serif
  background: #fff
  min-width: 1024px

.clearfix
  &:after
    clear: both
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

.relative
  position: relative

.inheritance-height
  height: 100%

.wrapper
  width: 940px
  margin: 0px auto

.modal-overlay
  display: none
  position: fixed
  z-index: 998
  width: 100%
  height: 100%
  cursor: pointer
  background: rgba(0,0,0,0.6)


a
  color: $blue_color
  text-decoration: none

.not-found
  margin: 50px 0
  background: $gray_bg_color
  font-size: 24px
  font-family: 'HelveticaNeue-Light'
  color: $soft_font_color

  height: 400px
  line-height: 400px
  text-align: center


.footer
  margin-top: 50px
  .separator
    width: 100%
    height: 2px
    margin: 20px 0px
    background: url('/assets/products_separator.png') no-repeat
    background-size: 940px 1px

  .content
    height: 60px
    padding: 20px 0
    font-family: 'HelveticaNeue-Light'
    font-size: 14px
    color: #AAB2AA
    line-height: 1.3