#get-call-modal.modal
  .title
    Обратный звонок


  .modal-thank
    Спасибо!

  .form
    %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
    .button#send-call-form Отправить
