#filter
  .left
    .filter-widget
      .label
        Цена (рублей за м2):
      .widget-body.clearfix#price-widget
        .section{min: 0, max: 9999, class: (params[:max_price] == '9999' or !params[:max_price] or params[:max_price] == '') ? 'active' : ''} любая
        .section{min: 0, max: 500, class: params[:max_price] == '500' ? 'active' : ''} до 500
        .section.two-rows{min: 500, max: 1000, class: params[:max_price] == '1000' ? 'active' : ''}
          от 500
          %br
          до 1 000
        .section.two-rows{min: 1000, max: 2000, class: params[:max_price] == '2000' ? 'active' : ''}
          от 1 000
          %br
          до 2 000
        .section.two-rows{min: 2000, max: 99999, class: params[:max_price] == '99999' ? 'active' : ''}
          свыше
          %br
          2 000

    .dekor-picker{style: 'margin-top: 50px;'}
      .label
        Декор:
      .widget-body.clearfix
        .preview#texture-widget
          - if params[:texture_id] and params[:texture_id] != ''
            %img{src: Texture.find(params[:texture_id]).image_url(:preview), style: 'display: inline-block;'}
          - else
            %img

        .about-decor
          Декор ламината, это изображение
          породы дерева или другого материала,
          отпечатанного на верхнем декоративном
          слое.

          %br
          %br

          Нажмите на квадрат слева, чтобы
          выбрать декор.

  .right
    .filter-widget#type-widget
      .label
        Класс ламината:
      .widget-body.clearfix
        .section{class: (params[:type] == '' or !params[:type]) ? 'active' : '', type: ''} любой
        .section{class: params[:type] == '31' ? 'active' : '', type: 31} 31
        .section{class: params[:type] == '32' ? 'active' : '', type: 32} 32
        .section{class: params[:type] == '33' ? 'active' : '', type: 33} 33
        .section{class: params[:type] == '34' ? 'active' : '', type: 34} 34

    .color-picker{style: 'margin-top: 50px;'}
      .label
        Выбор оттенка

      %select#color-picker{name: :color}
        - Color.order(:id).each do |color|
          %option{value: color.id.to_s, selected: params[:color_id] == color.id.to_s}
            = color.name

      %form{action: '/products/by_parameters'}
        %input{type: :hidden, name: :min_price, value: params[:min_price]}
        %input{type: :hidden, name: :max_price, value: params[:max_price]}
        %input{type: :hidden, name: :type, value: params[:type]}
        %input{type: :hidden, name: :texture_id, value: params[:texture_id]}
        %input{type: :hidden, name: :color_id, value: params[:color_id]}

        %input.filter-button{type: :submit, value: 'Применить параметры'}




#textures-modal

  .title
    Выберите текстуру из списка ниже
  .textures

    .texture{texture_id: 'empty'}
      .empty не выбрано

    - Texture.order(:id).each do |texture|
      .texture{texture_id: texture.id, image: texture.image_url(:preview)}
        = image_tag texture.image_url(:thumb)
        .name
          = texture.name
