
= image_tag 'actions/1.jpg', width: 940

.section-title Выгодная цена
= render partial: 'products/list', locals: {products: @products}


.section-title Наши партнеры

%ul.brands-list.clearfix
  - Brand.order(:name).each do |brand|
    %li
      %a{href: brand_collections_path(brand)}
        = image_tag brand.logo_url(:thumb)


.section-title
  Наш магазин находится по адресу:
#map
